.goal-item {
  margin: 1rem 0;
  background: linear-gradient(135deg, #c968f3 0%, #00198b 100%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 4px;
}

.list-spacing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
